{% extends "layout.html" %}

{% block title %}
    Home    
{% endblock %}

{% block main %}
    <iframe width="100%" height="600" src="https://www.youtube.com/embed/fxZ0J_20eH4" title="Who Was Louis Braille? | World Braille Day | 4 January | All About Louis Braille for Kids | Twinkl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br><br><br>
{% endblock %}